*{
    margin: 0;
    padding: 0;
    font-family: -apple-system , sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;


}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,red,yellow);
    padding: 10px;
}
.to-app{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.to-app h2 a{
    width: 20px;
    margin-left: 15px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(220, 218, 218);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
    color: black;
}
.input input{
    flex: 1;
    background: transparent;
    padding: 10px;
}
.input button{
    padding: 16px 50px;
    background: orangered;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(179, 178, 178);
}
ul li input[type='radio']{
    position: absolute;
    left: 25px;
    top: 15px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 2px solid black;
    border-color: rgb(0, 0, 0);
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li input[type='radio']:checked{
    accent-color: orangered;
}